doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/main.css')
      link(rel="stylesheet", href="/stylesheets/custom.css")
      link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")  
      link(rel="stylesheet", href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/atom-one-light.min.css")
      script(src="/js/lib/jquery.js")
      script(src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js")
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
  body
    main.wrapper
      nav.navigation
        section.container
          a(href="/").navigation-title.float-left
            h1.title Stutter
          ul.navigation-list.float-left
            li.navigation-item
              a(href="/" class=Utils.isActive('home', nav)).navigation-link Home
            li.navigation-item
              a(href="#" class=Utils.isActive('article', nav)).navigation-link Article
            li.navigation-item
              a(href="/about" class=Utils.isActive('about', nav)).navigation-link About
          ul.navigation-list.float-right
            - if(!isUserLogin)
              li.navigation-item-right
                a(href="/login" class=Utils.isActive('login', nav)).navigation-link Login
            - else
              li.navigation-item-right
                .user
                  .dropdown
                    a(href="#").avatar
                      img.av(src="//upload.jianshu.io/users/upload_avatars/4998423/12ac3879-1262-410e-beef-684db0667e53.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120", alt="")
                    
                  ul.dropdown-menu
                    li.dropdown-menu-item
                      a(href="/logout") Logout
                    li.dropdown-menu-item
                      a(href="/") My Home

      block content
      .top|  ↑
  footer.footer
    p
      | Power by stutter   
      a(href="https://github.com/diliburong/koa2-blog") &nbsp © stutter
  script.
     $(document).ready(function(){
      function footerPosition(){
        $('footer').removeClass('fixed-bottom');
        var contentHeight = document.body.scrollHeight;
        var winHeight = window.innerHeight;
        if(!(contentHeight > winHeight)) {
          $('footer').addClass('fixed-bottom');
        } else {
          $('footer').removeClass('fixed-bottom');
        }
      }
      footerPosition();
      $(window).resize(footerPosition);
    });

    $(document).ready(function() {
      $('.user').mouseover(function(){
        $('.user').addClass('open');
      });
      $('.user').mouseout(function(){
        $('.user').removeClass('open');
      });
      $('.dropdown-menu').mouseover(function(){
        $('.user').addClass('open');
      });
      $('.dropdown-menu').mouseout(function(){
        $('.user').removeClass('open');
      });
    });

    $(document).ready(function() {
      $(window).scroll(function() {
        if (window.scrollY < 1400) {
          $('.top').removeClass('top-active')
        }
        else if (window.scrollY > 1400) {
          $('.top').addClass('top-active')
        }
      });

      $('.top').click(function() {
        smoothscroll()
      })
    })

    function toTop() {
      var scrollToTop = setInterval(function() {  
        var pos = window.pageYOffset;  
        if ( pos > 0 ) {  
            window.scrollTo( 0, pos - 20 ); // how far to scroll on each step  
          } else {  
            window.clearInterval( scrollToTop );  
          }  
      }, 2); // how fast to scroll (this equals roughly 60 fps)  
    }
    function smoothscroll(){  
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;  
        if (currentScroll > 0) {  
            window.requestAnimationFrame(smoothscroll);  
            window.scrollTo (0,currentScroll - (currentScroll/5));  
        }  
    }
  block dynamicJs

